*{margin: 0; margin: 0;}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main-container{
    width: 1000px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main-menu{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.main-menu .logo a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 500;

}
.logo{
    display: flex;
    align-items: center;
}
.menu {

}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    align-items: center;
}
.menu ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    color:black;


}
/* ----------------------
influencer-banner 
------------------------*/

.influencer-banner{
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.influencer-text{
    width: 50%;
}
.influencer-text h1{
    font-size: 40px;
}
.influencer-text p{
    padding: 10px 0px;
}
.influencer-image{
    width: 50%;
    display: flex;
    justify-content: center;
    
}
.influencer-image img{
    width: 60%;

}
.main-button{
    background-color: #E02C6D;
    color: white;
    font-size: 15px;
    padding: 10px 24px;
    border: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
/* -----------------------
Brand image 
------------------------*/
.brand-image{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.brand-image img{

}
/*-------------------------
 Services-area
----------------------- */
.services-area{
    padding-top: 100px;
    text-align: center;
}
.all-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services-area>h1{
    padding-bottom: 50px;
}
.single-product{
    text-align: left;
    padding: 10px;
    box-shadow: 0px 4px 18px 0px #bdbdbd;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.single-product h3, h4{
    padding: 7px 0;
}
.single-product h4{
    color: gray;
}
.single-product span{
    padding-left: 15px;
}
.single-product img{
width: 100%;

}
.single-product .rating i{
    color: orange;
}
.see-more-button a{
    color:#E02C6D ;
    border: none;
    text-decoration: none;
}
p.see-more-button {
    text-align: right;
    padding: 10px 20px;
}
/* --------------------
Contact Area
---------------------- */
.contact-area{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-head{
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
    font-weight: 700;
}
.contact-map{
    width: 50%;
    margin-right: 20px;
}
.contact-map iframe{
    width: 100%;
}
.contact-from{
    width: 50%;
    align-items: center;
}
.contact-from form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-from form input{
   margin-bottom: 20px;
   padding-left: 10px;
   padding-top: 4px;
   padding-bottom: 4px;
}
.contact-from h2{
    padding: 20px 0;
    text-align: center;
}
.contact-from h2 span{
    color:#E02C6D ;
}
label.email {
    margin-left: 9%;
}
/*------------------------
 Footer
-------------------------*/
.footer-area{
    text-align: center;
    color: white;
    background-color: #0A0826;
    padding: 50px 0;
}
.footer-area h3{
    font-size: 20px;
}
.footer-social-icon{
    font-size: 30px;

}
/* End */